html, body {
    background-color: Indigo;
    font-family: Garamond;
    color: white;
    margin: 0;
    height: 100%;
}

a {
    color: white;
}

header {
    margin: 2px;
}

header h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    height: 600px;
}

section:nth-of-type(1),
section:nth-of-type(3) {
    width: 20%;
    height: 100%;
    background-color: Indigo;
}

section:nth-of-type(2) {
    width: 60%;
    height: 100%;
    background-color: black;
    overflow: scroll;
}

section:nth-of-type(3) {
    margin-left: 20px;
}

button {
    margin-left: 20px;
}

footer {
    background-color: Indigo;
    height: 150px;
    position: fixed;
    bottom: 0;
}

.score {
    background-color: Tomato;
    border-radius: 50%;
    padding: 3px 5px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

li {
    margin-top: 10px;
}